lts
plots
input_plot
boknis_spectra
boknis_dates
benchmark
.ipynb_checkpoints
SFG/spectrum/__pycache__/
SFG/__pycache__/
SFG/natural_samples/__pycache__/
SFG/newport/
__pycache__/
test.db
Wasserproben_komplett.xlsx
Untitled*
orm.db
errorlog.txt
stations.xlsx
poster.png
